{% extends "appone/base.html" %}
{% load staticfiles %}
  {% block title %}Uslugi{% endblock title %}

  {% block css %}<link rel="stylesheet" href="{% static "appone/css/onas.css" %}">{% endblock %}

  {% block body_block %}
  <div class="background">
    <br>
    <div class="TextSquare">
      <h1>FORMULACJE DOPASOWANE DO TWOICH POTRZEB</h1>
      <br>
      <br>
        <p>Nasza misją jest tworzenie wysokiej jakości produktów, które w zgodzie z naturą wspomagają zdrowie i<br>dobre samopoczucie naszych klientów.</p>
      <br>
        <p>Laboratoria Natury to firma kontraktowa  założona w 2001 roku. Na przestrzeni lat rozwinęliśmy portfolio produktowe i  kanały dystrybucji, dzięki czemu udało nam się rozszerzyć działalność firmy na skalę globalną. Dokładna i wnikliwa obserwacja i analiza rynku niejednokrotnie pozwoliła nam podejmować nowatorskie i pionierskie kroki. Byliśmy pierwszą firmą, która wprowadziła na krajowy rynek sok z aloesu i noni, beta glukan, srebro koloidalne, a także produkty z Bioperyną. Jako pierwsi uzyskaliśmy certyfikat IASC dla naszych produktów aloesowych.</p>
      <br>
        <p>Innowacja, najwyższa jakość i efektywne działanie produktów to dla nas od zawsze kluczowe kwestie. Wszystkie procesy produkcyjne zgodne są z normami ISO 9001:2009, 22000:2006, 13485:2016 oraz HACCP.</p>
      <br>
        <p>Nasza produkcja znajduje się w województwie lubelskim.</p>
      <br>
        <p>Zapewniamy kompleksowe usługi na każdym etapie produkcyjnym: od naszego know-how, poprzez przygotowanie formulacji ,próby produkcyjne, na produkcie gotowym kończąc. Nasz, profesjonalny i innowacyjny dział R&D wraz z działem Jakości oraz Produkcji są do Państwa dyspozycji – stworzymy formulację,  przeprowadzimy wszystkie niezbędne badania i przygotujemy projekt opakowania.
  Oferujemy produkcję syropów, toników,  napojów funkcjonalnych, soków , olejków  oraz  innych form. Wszystkie produkty dostępne także w wersji BIO, organicznej, koszernej i halal.</p>
      <br>
    </div>
  </div>

  {% endblock %}
