{% extends "Base.html" %}
{% load staticfiles %}
  {% block title %}Gotowe Rozwiazania{% endblock title %}


  {% block css %}<link rel="stylesheet" href="{% static "css/gotowerozwiazania.css" %}">{% endblock %}

  {% block body_block %}
  <div class="topbackgroundwrap">
    <div class="topbackground">
      <img id="imagebackground" class="imagebackground" src="{% static "images/Gotowerozwiazania/probowki.jpg" %}" alt="Usługi">
      <div id="center" class="center">Gotowe rozwiązania !</div>
    </div>
  </div>

  <div class="middlebackground">
    <h4 class="middletext">Poniżej znajdziecie Państwo część z naszych autorsko opracowanych, gotowych rozwiązań do wdrożenia pod własną marką</h4>
  </div>
    <div class="productsnavbar" width="auto">
      <ul>
        <li class="li1"><button data-btn="0">Syropy</button></li>
        <li class="li2"><button data-btn="1">Toniki</button></li>
        <li class="li3"><button onclick="displayOils()" data-btn="2">Trany</button></li>
        <li class="li4"><button data-btn="3">Shoty</button></li>
        <li class="li5"><button onclick="displayFunctional()" data-btn="4">Napoje funkcjonalne</button></li>
      </ul>
    </div>


  {% endblock %}

  {% block script %}<script src="{% static "js/gotowerozwiazania.js" %}"></script>{% endblock %}
