{% extends 'Base.html' %}
{% load staticfiles %}
{% block title %}Strona Glowna{% endblock title %}

  {% block css %}<link rel="stylesheet" href="{% static "css/stronaglowna.css" %}">{% endblock %}

  {% block body_block %}
  <br>
          <!-- Slideshow container -->
  <div class="slideshow-container" id="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 5</div>
      <img src="{% static "images/SlajdyStronaGlowna/slajdlogistyka.png" %}" style="width:100%">
      <div class="slidetext"><h1><span>Logistyka</span></h1></div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 5</div>
      <img src="{% static "images/SlajdyStronaGlowna/slajdprobowki.jpg" %}" style="width:100%">
      <div class="slidetext"><h1><span>Laboratorium</span></h1></div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 5</div>
      <img src="{% static "images/SlajdyStronaGlowna/slajdprodukcja.png" %}" style="width:100%">
      <div class="slidetext"><h1><span>Produkcja</span></h1></div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">4 / 5</div>
      <img src="{% static "images/SlajdyStronaGlowna/slajdrejestracja.png" %}" style="width:100%">
      <div class="slidetext"><h1><span>Rejestracja</span></h1></div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">5 / 5</div>
      <img src="{% static "images/SlajdyStronaGlowna/slajdrnd.png" %}" style="width:100%">
      <div class="slidetext"><h1><span>R&D</span></h1></div>
    </div>

    <!-- Next and previous buttons -->
    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
  </div>
  <br>



  <div class="middleTextBorder">
  <div class="middleText" id="middleText">
    <div class="leftMiddleText" id="leftMiddleText">
      <h2>GOTOWE ROZWIĄZANIA</h2>
      <p>Nasza firma nie tylko stworzy produkt w oparciu o Państwa pomysł. Proponujemy także  gotowe rozwiązania. Jeśli nie mają Państwo jeszcze własnej koncepcji , zachęcamy do zapoznania się z naszą ofertą gotowych formulacji.</p>
      <a href="#"><b>ZOBACZ WIĘCEJ</b></a>
    </div>
    <div class="rightMiddleText" id="rightMiddleText">
      <h2>O NAS</h2>
      <p>Jako firma kontraktowa, przygotujemy produkt  dostosowany do Państwa potrzeb. Nasz zespół specjalistów zagwarantuje najwyższą jakość usług. Oferujemy wsparcie w pełnym zakresie, na każdym etapie produkcji: zaczynając od naszego know-how, przez przygotowania i próby produkcyjne, na gotowym produkcie kończąc.</p>
      <a href="#"><b>ZOBACZ WIĘCEJ</b></a>
    </div>
  </div>
</div>

  <!-- <div class="countersborder"> -->
  <button onclick="currentScroll();"></button>
    <div class="counters">

      <div class="row">
        <div class="column">
            <h1 id="count1">0</h1>
            <h1>Lat doświadczenia</h1>
        </div>
      </div>

      <div class="row">
        <div class="column">
            <h1 id="count2">0</h1>
            <h1>Działów kompleksowej obsługi</h1>
        </div>
      </div>

      <div class="row">
        <div class="column">
            <h1 id="count3">0</h1>
            <h1>Sprzedanych produktów</h1>
        </div>
      </div>

      <div class="row">
        <div class="column">
            <h1 id="count4">0</h1>
            <h1>Tygodnie do pierwszej próbki</h1>
        </div>
      </div>
    </div>


    <div class="bottomDiv">
      <div class="bottomText">
        <h1>DLACZEGO WYBRAĆ PRODUKCJĘ<br>KONTRAKTOWĄ LABORATORIA NATURY?</h1>
        <br>
        <p>– zorientowanie na klienta</p>
        <br>
        <p>– indywidualne podejście i elastyczność</p>
        <br>
        <p>– kompleksowa usługa ‘one-stop-shop’</p>
        <br>

        <h1>– 2 TYGODNIE OD ZAPYTANIA DO<br>PIERWSZEJ PRÓBKI PRODUKTOWEJ</h1>
        <br>
        <h2>PRODUKCJA KONTRAKTOWA LABORATORIA NATURY<br>– FORMULACJE DOPASOWANE DO TWOICH POTRZEB.</h2>
        <a href="#"><b>ZOBACZ WIĘCEJ</b></a>
      </div>
        <div class="bottomImage">
          <img src="{% static "images/StronaGlowna/WaterLeavesRigt.png" %}">
        </div>
    </div>


      <div class="scrollTop">
        <button onClick="scrollOnTop();">UP</button>
      </div>

    <!-- </div> -->

  {% endblock %}

  {% block script %}<script src="{% static 'js/stronaglowna.js' %}"></script>{% endblock %}
