.square1 {
  border-radius: 25px;
  background-color: rgb(246, 245, 245);
  margin: 1%;
  position: relative;
  height: 950px;
  /* padding-bottom: 20px; */
}

.CHIA1{
  position: absolute;
  bottom: 2%;
  width: 160%;
  z-index: +1
}

.square2 {
  border-radius: 25px;
  background-color: rgb(246, 245, 245);
  margin: 1%;
  position: relative;
  height: 750px;
  top: 100px;
  /* padding-bottom: 20px; */
}

.CHIA2{
  position: absolute;
  top: -25%;
  width: 80%;
  /* z-index: +1 */
}

.Text{
  position: absolute;
  width: 20%;
}

.square3 {
  border-radius: 25px;
  background-color: rgb(246, 245, 245);
  margin: 1%;
  position: relative;
  height: 900px;
  top: 30px;
  /* padding-bottom: 20px; */
}

.CHIA3{
  position: absolute;
  bottom: 2%;
  width: 80%;
  /* z-index: +1 */
}

table {
  width: 100%;
}
