/* body {
  height: 1250px;
  overflow: auto; /* Hide overflow */


.background {
  background-image: url("/static/mainapp/images/ONas/LeavesWater.7b49c22cf152.7b49c22cf152.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}

.TextSquare{
  border-radius: 25px;
  background-color: rgba(246, 245, 245, 0.9);
  padding: 10px 20px 0px 20px;
  margin: 8% 20% 3% 20%;
}

h1 {
  color: #333;
}

p {
  text-align: left;
  padding-left: 200px;
  padding-right: 200px;

}
